@{
    Layout = "_Layout";
}

<h1>Welcome to the Music Organizer!</h1>
<div class="btn-container">
    <a href='/records' class="btn btn-info">View records</a>
    <a href='/artists' class="btn btn-info">View artists</a>
    <a href='/records/new' class="btn btn-info">Add a new record</a>
    <a href='/search_by_artist/new' class="btn btn-info">Search by artist</a>
</div>