@using MusicOrganizer.Models;
@{
    Layout = "_Layout";
}
<h3>Here are all the records by <em>@Model["artist"].Name:</em></h3>

@foreach (Record record in @Model["records"])
{
    <p><a href='/artists/@Model["artist"].Id/records/@record.Id'>@record.Title</a></p>
}

<div class="btn-container">
    <a href='/artists'class="btn btn-info">Return to artists list</a>
    <a href="/"class="btn btn-secondary">Go home</a>
</div>