@{
    Layout = "_Layout";
}

<h1>Your list has been cleared!</h1>
<div class="btn-container">
    <a href="/records" class="btn btn-info">Back to list.</a>
    <a href="/" class="btn btn-secondary">Go Home</a>
</div>