@{
    Layout = "_Layout";
}
<h1>Record Details: </h1>

<h3>Record Title: @Model.Title by @Model.NameOfArtist.Name</h3>

<div class="btn-container">
    <a href='/records/new' class="btn btn-info">Add another record</a>
    <a href='/records'class="btn btn-info">View all records</a>
    <a href="/"class="btn btn-secondary">Go home</a>
</div>